<div class="row">
    <div class="span12">&nbsp;</div>
</div">

<div class="row">
    <div class="span4">
    <div class="well">
        <p class="text-center">
          View the Project on 
          <a href="https://github.com/ctrix/angular-ui-growl">GitHub</a>
        <p>
        <p class="text-center">
          <a class="btn" href="https://github.com/ctrix/angular-ui-growl/zipball/master">Download <strong>ZIP File</strong></a>
          <br/>
        <p class="text-center">
          <a class="btn" href="https://github.com/ctrix/angular-ui-growl/tarball/master">Download <strong>TAR Ball</strong></a>
        <p>
        <p class="text-center">
          <a class="btn" href="https://github.com/ctrix/angular-ui-growl">View On <strong>GitHub</strong></a>
          <br/>
        <p>
    </div>
    </div>
    <div class="span8">
        <legend>
            <h1>AngularJS UI.Growl</h1>
            Growl style notifications for AngularJS
        </legend>
        <p>
            This module mimics growl style notifications the AngularJS way.
            Usage is quite simple and there are no dependencies besides angular.js.
            <br>
            <br>
            If you include JQuery, the notifications will fade away with a nice animation.
        </p>
        <legend>
            <h3>Demo</h3>
        </legend>
        <p>
            The buttons below will show sticky or fading notifications. The colors will be randomly choosen.
        </p>
        <p>
            <button class="btn btn-info" ng-click="doClick(false)">Fading Growl</button>
            <button class="btn btn-primary" ng-click="doClick(true)">Sticky Growl</button>
        </p>

    </div>
</div>
